.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider ul{
  display: flex;
  padding: 0;
  width: 500%;
  
  animation: cambio 20s infinite alternate linear;
}

.slider li {
  width: 100% ;
  list-style: none;
}

.slider img{
  width: 100%;
}

@keyframes cambio{
  0% {margin-left: 0;}
  20%{margin-left: 0;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}

  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
}
.item {
  border: 2px solid #000;
  padding: 10px;
  border-radius: 20px;
}

.ca {
  border: 2px solid #000;
  padding: 10px;
  border-radius: 20px;
  background-color: #38b5ab;
}
.sp {
  border: 2px solid #000;
  padding: 10px;
  border-radius: 20px;
  background-color: #96ddf2;
}

.item-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.item-image {
  height: 300px;
  width: 100%;
}

.item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 15px;
}

.item-details > .item-price {
  margin: 0;
}

/* ? SHOPPING CART */
.shopping-cart-items {
  padding: 20px 0px;
}

.shopping-cart-header {
  border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
  max-width: 80px;
  border-radius: 20px;
}

.shopping-cart-quantity-input {
  max-width: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 5px;
}

.shopping-cart-total {
  min-height: 96px;
}
